<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/geral.css">
    <title>Semente do PI - Produtos</title>
</head>
<body>
    <header>
        <div>
            <a href="#">Home</a>
            <a href="#">Categorias</a>
            <a href="#">Contato</a>
            <a href="#">Área do assinante</a>
        </div>
    </header>
    <main>
        <aside>lalala aside</aside>
        <header>lalala header</header>
        <section>
            lalala section
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi minima molestiae tempore repellendus consectetur molestias illum, quis, optio repellat voluptatibus veniam mollitia incidunt neque quaerat deleniti odio minus, quam nemo.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi minima molestiae tempore repellendus consectetur molestias illum, quis, optio repellat voluptatibus veniam mollitia incidunt neque quaerat deleniti odio minus, quam nemo.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi minima molestiae tempore repellendus consectetur molestias illum, quis, optio repellat voluptatibus veniam mollitia incidunt neque quaerat deleniti odio minus, quam nemo.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi minima molestiae tempore repellendus consectetur molestias illum, quis, optio repellat voluptatibus veniam mollitia incidunt neque quaerat deleniti odio minus, quam nemo.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi minima molestiae tempore repellendus consectetur molestias illum, quis, optio repellat voluptatibus veniam mollitia incidunt neque quaerat deleniti odio minus, quam nemo.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi minima molestiae tempore repellendus consectetur molestias illum, quis, optio repellat voluptatibus veniam mollitia incidunt neque quaerat deleniti odio minus, quam nemo.
        </section>
        <footer>lalala footer</footer>
    </main>
    <footer>

    </footer>
</body>
</html>