<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
    </style>
    <link rel="stylesheet" href="/css/geral.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Título da página</h1>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </header>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus sit delectus natus, velit, quaerat voluptas recusandae animi, sequi rerum vero laboriosam facere. Sint, quas perferendis. Voluptatum quo illum provident iure?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus sit delectus natus, velit, quaerat voluptas recusandae animi, sequi rerum vero laboriosam facere. Sint, quas perferendis. Voluptatum quo illum provident iure?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus sit delectus natus, velit, quaerat voluptas recusandae animi, sequi rerum vero laboriosam facere. Sint, quas perferendis. Voluptatum quo illum provident iure?</p>
</body>
</html>